# ---- Python cache & build files ----
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

venv/
.env/
env/
.venv/

uploads/

*.env


.vscode/

.DS_Store
Thumbs.db

*.log
logs/


.pytest_cache/
.coverage
htmlcov/
